---
title: Web labs 🧪
---

<h1><span>&lt;</span>web labs<span>/&gt;</span></h1>
<p class="text">
  This is a simple site I will use for cool experiments with web technologies. Anything cool I find on the web
  or make myself I put here. Most of the things here will be expanded on one day when I find some time.
</p>
<p class="text">
  This website uses middleman for static site generation, so everything should be pretty fast and the website should
  work without javascript
</p>