+++
title = "a small test site"
+++

<h1>Welcome</h1>
<% 5.times do |num| %>
  <p class="text">Count <%= num %></p>
<% end %>
<p class="image"><%= image_tag 'res/xmlicon.svg', :width => '35', :class => 'logo' %></p>